.album-gallery {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.actionbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
