.album-detail {
    background-color: orange;
    border: 1px black solid;
    margin: 50px;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
.enterTextField {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
